.hidden {
  display: none;
}

.u-center {
    margin: 0 auto;
    display: block;
}

.pull-right {
    float: right;
}
.marg-bot {
    margin-bottom: 60px;
}

.img-marg-top {
    margin-top: 30px;
}

.img-marg-bot {
    margin-bottom: 30px;
}

.img-pad-top {
    padding-top: 30px;
}

.img-pad-bot {
    padding-bottom: 30px;
}

.u-pad {
    padding-top: 60px;
    padding-bottom: 60px;
}
