// Colors
$dark-gray: #2C2C2C;

// Padding
$padding-base: 60px;
$padding-base-by-2: 30px;
$padding-base-by-4: 15px;

// Margin
$margin-base: $padding-base;

// Font Stack
$sans-serif-base: 'qanelas_softmedium', sans-serif;
$serif-base: 'museo-slab', serif;

//Font Size
$body-size: 16px;
$h1: 3.2em;
$h2: 2.5em;
$h3: 1.5em;
$h4: 1.25em;
$h5: 1.25em;
$h6: 0.9333em;

// Transitions
$base-transition: 200ms ease-in;

//Grid

//Breakpoints
