.nav-container {
    width: $docked-nav--width;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $blue--base;
    box-shadow: 2px 0px 7px 2px #0A0B20;
    z-index: 100;
    transition: all 500ms ease;
}

.docked-nav {
    width: 100%;
    color: white;
}

.logo-svg {
    display: block;

    svg {
        width: 100%;
        margin: 30px auto;
    }
}

.menu-text {
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 5px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;

    span {
        display: block;
        height: 4px;
        background-color: white;
        margin-top: 5px;
        border-radius: 1px;
        width: 100%;
        position: absolute;
        transition: transform 500ms ease;

        &:nth-child(1) {
            top: 0;
            transform: rotate(0deg);
            transform-origin: center;
        }

        &:nth-child(2) {
            top: 9px;
            transform: rotate(0deg);
            transition: opacity 500ms ease;
        }

        &:nth-child(3) {
            top: 18px;
            transform: rotate(0deg);
        }
    }

    &.open {

        span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 10px;
            }

            &:nth-child(2) {
                opacity: 0;
                transform: rotate(0deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 10px;
            }
        }
    }
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list-item {
    display: block;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 100%;

    a  {
        color: $blue--light;
        text-decoration: none;
        font-family: $sans-serif-base;
        font-size: $h5;
        padding: 15px 0px;
        display: block;
        transition: background-color 200ms ease-in,
                    box-shadow 200ms ease,
                    color 500ms ease;

        &.active,
        &:hover,
        &:active,
        &:focus {
            color: $white;
        }
    }
}


// ---- Nav Footer ----
.footer {
    opacity: 0;
    z-index: -500;
}

.footer-copyright {
    color: #737373;
    text-align: center;
    font-size: 0.800em;
    letter-spacing: 0.12em;
    margin: 0 auto;

}


// ---- Nav Utilities ----
.mobile {
    display: none;
}


.collapse-menu-bar {
    color: white;
}

.fadeIn {
    opacity: 1;
    transition: opacity 500ms ease;
}
