<section class="cta-bar">
    <div class="grid flex-grid--gutters">
        <div class="col col--width__six">
            <div class="cta-text">Give me a shout!</div>
        </div>
        <div class="col col--width__six">
            <a class="button-link" href="{{ base_url }}/contact"><button class="u-center" type="button">Get in touch</button></a>
        </div>
    </div>
</section>
