<div class="filter-widget widget">
    <h6>Work Filters</h6>
    <ul class="filter-list">
        <li class="filter-list-item js-filter-item active" data-category="work-image-box">All</li>
        <li class="filter-list-item js-filter-item" data-category="web">Web/UX</li>
        <li class="filter-list-item js-filter-item" data-category="illustration">Illustration</li>
        <li class="filter-list-item js-filter-item" data-category="print">Print</li>
        <li class="filter-list-item js-filter-item" data-category="branding">Branding</li>
        <li class="filter-list-item js-filter-item" data-category="other">Other</li>
    </ul>
</div>