<h6>Work filters</h6>
<ul class="mobile-filter-list js-filter-list">
    <div class="row clearfix">
        <div class="mobile-col col-6of12">
            <li class="mobile-filter-list-item js-mobile-filter-item" data-category="work-image-box">
                <div class="mobile-filter-toggle js-mobile-filter-toggle active-mobile">
                    <div class="mobile-filter-name">All</div>
                </div>    
            </li>
            <li class="mobile-filter-list-item js-mobile-filter-item" data-category="web">
                <div class="mobile-filter-toggle js-mobile-filter-toggle">
                    <div class="mobile-filter-name">Web/UX</div>
                </div>    
            </li>
            <li class="mobile-filter-list-item js-mobile-filter-item" data-category="illustration">
                <div class="mobile-filter-toggle js-mobile-filter-toggle">
                    <div class="mobile-filter-name">Illustration</div>
                </div>    
            </li>
        </div>
        <div class="mobile-col col-6of12">
            <li class="mobile-filter-list-item js-mobile-filter-item" data-category="print">
                <div class="mobile-filter-toggle js-mobile-filter-toggle">
                    <div class="mobile-filter-name">Print</div>
                </div>    
            </li>
            <li class="mobile-filter-list-item js-mobile-filter-item" data-category="branding">
                <div class="mobile-filter-toggle js-mobile-filter-toggle">
                    <div class="mobile-filter-name">Branding</div>
                </div>    
            </li>
            <li class="mobile-filter-list-item js-mobile-filter-item" data-category="other">
                <div class="mobile-filter-toggle js-mobile-filter-toggle">
                    <div class="mobile-filter-name">Other</div>
                </div>    
            </li>
        </div>
    </div>
</ul>