<div class="contact-widget widget">
    <h6>Follow me!</h6>
    <ul class="contact-list">
        <div class="row">
            <li class="contact-list-item">
                <a href="https://twitter.com/l3acon" target="_blank">
                    <div class="contact-list-circle">
                        <img id="twitter" src="{{ url('theme://images/twitter-icon.svg')  }}" alt="Twitter icon." />
                    </div>
                </a>
            </li>
            <li class="contact-list-item">
                <a href="https://www.instagram.com/l3aconcreative/" target="_blank">
                    <div class="contact-list-circle">
                        <img id="instagram" src="{{ url('theme://images/instagram-icon.png') }}" alt="Instagram icon." />
                    </div>
                </a>
            </li>
            <li class="contact-list-item">
                <a href="https://www.linkedin.com/in/baconcreative" target="_blank">
                    <div class="contact-list-circle">
                        <img id="linked" src="{{ url('theme://images/linked-in-icon.png') }}" alt="LinkedIn icon." />
                    </div>
                </a>
            </li>
        </div>
    </ul>
</div>