<div class="col col--width__six">
    <h4>Typography</h4>
    {% for type in ph.typography %}
    <div class="type-image-box">
        <img class="type-image" src="{{ page.media[type.image].url }}" alt="{{ type.imagealt }}" />
    </div>
    {% endfor %}
</div>
