<div class="col col--width__six">
    <h4>Color Palette</h4>
    {% for color in ph.colorpalette %}
    <div class="color-box" style="background-color: {{ color.value }};">
        <span class="color-title">{{ color.value }}</span>
    </div>
    {% endfor %}
</div>
