{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="main-content">
		<div {% if page.header.container == 'false' %}class="container"{% endif %}>
			{{ page.content }}
		</div>
	</div>
{% endblock %}
